:root {
    /* background */
    --primary-color: #FFFFFF;
    /* section background */
    --secondary-color: rgb(139, 159, 205);
    /* border/header color */
    --tertieary-color: #154FAF;
    /* text color */
    --quaternary-color: #ffff19;
    /* extras */
    --quniary-color: #68BBB6;
    --senary-color: #c33030;
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
}

header h1 {
    font-size: 42px;
    font-weight: bold;
    color: var(--quniary-color);
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
}

header nav {
    list-style: none;
}

header ul {
    border: 4px solid var(--tertieary-color);
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
}

header ul li {
    padding: 10px 20px;
}

header a {
    padding: 0 15px;
    color: var(--quaternary-color);
    text-decoration: none;
    font-size: 24px;
    text-shadow: 0 0 16px rgba(255, 255, 255, 0.5);
}

header a:hover {
    border-radius: 15px;
    background-color: var(--quaternary-color);
    color: var(--quniary-color);
}

.hero {
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    background-position: 80%;
    height: 500px;
}

.hero h3 {
    margin: 75px 0 0 75px;
    padding: 15px 15px;
    background-color: var(--secondary-color);
    color: var(--quniary-color);
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
    font-size: 36px;  
    border: 3px solid var(--tertieary-color);
    border-radius: 5px 12px 12px 12px;
}

section {
    background-color: var(--primary-color);
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-around;
    align-items: center;
}

.section-title,
.section-content {
    border: 2px solid var(--tertieary-color);
    border-radius: 15px; 
    background-color: var(--secondary-color);
}

.section-title {
    border-right: 3px solid var(--senary-color);
    padding: 10px;
    width: 12%;
    color: var(--quniary-color);
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.8); 
}

.section-content {
    font-size: 18px;
    width: 85%;
    padding: 15px;
    margin-left: 15px;
}

.work-grid-container {
    display: flex;
    width: 85%;
}

.work-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 5px;
    grid-column-gap: 5px;
}

.work-link {
    border: 1px solid var(--tertieary-color);
}

.work1 {
    background-image: url(../images/run-buddy.jpg);
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.work2 {
    background-image: url(../images/horiseon.jpg);
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}

.work3, 
.work4, 
.work5 {
    background-image: url(../images/dev.jpg);
}

.work3 {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

.work4 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

.work5 {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.work-content {
    background-size: auto 5%;
    background-color:  rgba(139, 159, 205, 0.6);
    border-radius: 7px;
}

.contact ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.contact a, 
.work a {
    color: var(--quaternary-color);
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    header {
        flex-wrap: nowrap;
    }

    header ul li {
        padding: 0 0 0 0;
    }

    br {
        display: none;
    }

    section {
        width: 100%;
    }

    .section-content {
        width: 100%;
        margin: 0 0 15px 0;
        border-top-color: var(--senary-color);    
        border-radius: 0px 0px 15px 15px;
    }

    .section-title {
        width: 100%;
        border: 2px solid var(--tertieary-color);
        border-bottom-color: var(--senary-color);
        text-align: center;
        border-radius: 15px 15px 0px 0px;
    }

    .work-grid {
        text-align: center;
    }

    .work-grid-container {
        justify-content: center;
    }
}